<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="%d %-5level [%logger] %msg%n%xThrowable" />
    </Console>
    <File name="HttpLogFile" fileName="/tmp/http_log_file.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.hc.client5.http" level="ERROR">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.hc.client5.http.wire" level="ERROR">
      <AppenderRef ref="Console"/>
    </Logger>
     <Logger name="org.apache.hc.client5.http.headers" level="ERROR">
      <AppenderRef ref="Console"/>
    </Logger>
     <Logger name="org.apache.hc.client5.http.impl.io.PoolingHttpClientConnectionManager" level="ERROR">
    		<AppenderRef ref="Console"/>
    </Logger>
    <Logger name="fr.paris.lutece.util.httpaccess.HttpAccessTest" level="DEBUG">
    		<AppenderRef ref="Console"/>
    </Logger>
    
    
    <Root level="INFO">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>